<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.yanzi.playcamera"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />
    <!-- 增加文件存储和访问摄像头的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".Sample.SampleActivity"
            android:label="@string/title_activity_sample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sample.Sample3_1.Sample3_1Activity">
        </activity>
        <activity
            android:name=".Sample.Sample5.Sample5_1.Sample5_1_Activity">
        </activity>
        <activity
            android:name=".Sample.Sample5.Sample5_2.Sample5_2_Activity">
        </activity>
        <activity
            android:name=".Sample.Sample5.Sample5_5.Sample5_5_Activity">
        </activity>
        <activity
            android:name=".Sample.Sample5.Sample5_9.Sample5_9_Activity">
        </activity>
        <activity
            android:name=".Sample.Sample5.Sample5_10.Sample5_10_Activity">
        </activity>
    </application>

</manifest>
